h1,
h2,
h3,
p,
ul {
  margin: 0;
}

.black {
  color: #2e2f42;
}
.nav {
  display: flex;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
  margin: 0 auto;
  padding: 0 15px;
}

.title-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  width: 115px;
  height: 24px;
}

.top-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0;
  margin-right: 76px;
}
.nav-text {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}
.nav-link {
  padding: 24px 0;
  display: block;
}
address:hover {
  color: #404bbf;
}
address:focus {
  color: #404bbf;
  display: flex;
}
a:hover {
  color: #404bbf;
}
a:focus {
  color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
img {
  display: block;
}
ul,
ol {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
}
.header-container {
  display: flex;
}
.main-title {
  background-color: #2e2f42;
  color: #ffffff;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 188px 0;
}
.main-btn {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  border-radius: 4px;
  height: 56px;
  display: block;
  min-width: 169px;
  border: none;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
}

.title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: 0 auto 48px auto;
}

button:hover {
  background-color: #404bbf;
}
button:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.container-property {
  padding: 120px 0;
}
.main-property {
  display: flex;
  padding: 120px 0;
}
.team-property {
  gap: 24px;
}
.property {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
  text-align: center;
}
.setting-property {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: calc((100% - 72px) / 4);
}

.contacts {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
  gap: 40px;
  flex-direction: row;
  display: flex;
  margin-left: auto;
  padding: 0;
}

.section-foto {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  border-radius: 0 0 4px 4px;
  padding-block: 0px 32px;
  padding-inline: 0px;
  width: 264px;
  height: 380px;
}
.main-text {
  color: #434455;
}
.main-team {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.main-property {
  gap: 24px;
}
.section-foto {
  background-color: #ffffff;
  margin: 24px;
  width: calc((100% - 72px) / 4);
}
.team {
  padding: 32px 0;
}
p {
  color: #434455;
  font-size: 12px;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.portfolio {
  width: 1128px;
  height: 888px;
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 72px;
  padding-left: 156px;
  padding-right: 156px;
  column-gap: 24px;
  row-gap: 48px;
}

.item {
  width: calc((100% - 20px) / 3);
}
.name-property {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
  text-transform: uppercase;
}
.white {
  color: #f4f4fd;
}
footer {
  background-color: #2e2f42;
}
.footer-row {
  padding: 100px 0;
}
.footer {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
